Real Extreme Train Simulator/Temp/
*.csproj
Real Extreme Train Simulator/.vs/
Real Extreme Train Simulator/UserSettings/Layouts/default-2021.dwlt
Real Extreme Train Simulator/.vs/Real Extreme Train Simulator/v16/.suo
Real Extreme Train Simulator/.vs/Real Extreme Train Simulator/v16/.suo
